      <!-- Tables
      ================================================== -->
<pre class="pre-scrollable" style="background-color:white"><table class="table table-striped table-bordered table-hover table-condensed" style="padding:0 0 0 0;margin:0 0 0 0 ;">
        <thead>
          <tr>
            <th>貸主名</th>
            <th>住所</th>
          </tr>
        </thead>
        <tbody>
          <% @owners.each do |owner| %>
          <tr>
            <td><a href="<%= "javascript:link_owner_click(" + owner.id.to_s  + "," + owner.latitude.to_s + "," + owner.longitude.to_s + ")"%>"><%= owner.name %></a></td>
            <td><%= owner.address %></td>
          </tr>
          <% end %>
        </tbody>
      </table></pre>
