<%#= stylesheet_link_tag('jquery-themes/pepper-grinder/jquery.ui.theme') %>
<%#= stylesheet_link_tag('jquery-themes/start/jquery.ui.theme') %>



<script type="text/javascript">
	
	
	var disp_biru_type;
	disp_biru_type = false;

	var disp_biru_building_kind;
	disp_biru_building_kind = false;

	
	init_jqgrid();
	
	// ダブルクリック時のイベント

	function init_jqgrid(){
		// 列名の定義
		var col_names = [
			"支店",
			 "営業所",
			 "管理棟数",
			 "マンション",
			 "アパート",
			 "分譲M",
			 "戸建て",
			 "その他",
			 "管理戸数",
			"1R〜1LDK",
			"2K〜2LDK",
			"3K〜3LDK",
			"4K〜4LDK",
			"その他",
			"1R〜1LDK",
			"2K〜2LDK",
			"3K〜3LDK",
			"4K〜4LDK",
			"その他",
			"1R〜1LDK",
			"2K〜2LDK",
			"3K〜3LDK",
			"4K〜4LDK",
			"その他",
			"1R〜1LDK",
			"2K〜2LDK",
			"3K〜3LDK",
			"4K〜4LDK",
			"その他",
			"1R〜1LDK",
			"2K〜2LDK",
			"3K〜3LDK",
			"4K〜4LDK",
			"その他",
			"1R〜1LDK",
			"2K〜2LDK",
			"3K〜3LDK",
			"4K〜4LDK",
			"その他",
			"1R〜1LDK",
			"2K〜2LDK",
			"3K〜3LDK",
			"4K〜4LDK",
			"その他",
			
			 "リンク",
		];
	
		// 列属性の定義
		var col_model = [
	  	  {name:"group_name", index:"group_name", align:"center",classes:"no_class"}
		 ,{name:"shop_name", index:"shop_name", align:"center",classes:"no_class"}
		 ,{name:"building_cnt", index:"building_cnt", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0}'}

		 ,{name:"biru_type_mn_cnt", index:"biru_type_mn_cnt", align:"center", width:100, classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0}', hidden:false}
		 ,{name:"biru_type_bm_cnt", index:"biru_type_bm_cnt", align:"center", width:100,classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0}', hidden:false}
		 ,{name:"biru_type_ap_cnt", index:"biru_type_ap_cnt", align:"center", width:100,classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0}', hidden:false}
		 ,{name:"biru_type_kdt_cnt", index:"biru_type_kdt_cnt", align:"center", width:100,classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0}', hidden:false}
		 ,{name:"biru_type_etc_cnt", index:"biru_type_etc_cnt", align:"center", width:100,classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0}', hidden:false}
		 
		 ,{name:"room_cnt", index:"room_cnt", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0}'}

		 ,{name:"room_type_17010_1", index:"room_type_17010_1", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 ,{name:"room_type_17010_2", index:"room_type_17010_2", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 ,{name:"room_type_17010_3", index:"room_type_17010_3", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 ,{name:"room_type_17010_4", index:"room_type_17010_4", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 ,{name:"room_type_17010_9", index:"room_type_17010_9", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}

		 ,{name:"room_type_17015_1", index:"room_type_17015_1", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 ,{name:"room_type_17015_2", index:"room_type_17015_2", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 ,{name:"room_type_17015_3", index:"room_type_17015_3", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 ,{name:"room_type_17015_4", index:"room_type_17015_4", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 ,{name:"room_type_17015_9", index:"room_type_17015_9", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}

		 ,{name:"room_type_17020_1", index:"room_type_17020_1", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 ,{name:"room_type_17020_2", index:"room_type_17020_2", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 ,{name:"room_type_17020_3", index:"room_type_17020_3", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 ,{name:"room_type_17020_4", index:"room_type_17020_4", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 ,{name:"room_type_17020_9", index:"room_type_17020_9", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}

		 ,{name:"room_type_17025_1", index:"room_type_17025_1", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 ,{name:"room_type_17025_2", index:"room_type_17025_2", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 ,{name:"room_type_17025_3", index:"room_type_17025_3", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 ,{name:"room_type_17025_4", index:"room_type_17025_4", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 ,{name:"room_type_17025_9", index:"room_type_17025_9", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}

		 ,{name:"room_type_17030_1", index:"room_type_17030_1", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 ,{name:"room_type_17030_2", index:"room_type_17030_2", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 ,{name:"room_type_17030_3", index:"room_type_17030_3", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 ,{name:"room_type_17030_4", index:"room_type_17030_4", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 ,{name:"room_type_17030_9", index:"room_type_17030_9", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}

		 ,{name:"room_type_17035_1", index:"room_type_17035_1", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 ,{name:"room_type_17035_2", index:"room_type_17035_2", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 ,{name:"room_type_17035_3", index:"room_type_17035_3", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 ,{name:"room_type_17035_4", index:"room_type_17035_4", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 ,{name:"room_type_17035_9", index:"room_type_17035_9", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}

		 ,{name:"room_type_17099_1", index:"room_type_17099_1", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 ,{name:"room_type_17099_2", index:"room_type_17099_2", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 ,{name:"room_type_17099_3", index:"room_type_17099_3", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 ,{name:"room_type_17099_4", index:"room_type_17099_4", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 ,{name:"room_type_17099_9", index:"room_type_17099_9", align:"center",classes:"no_class",summaryType:'sum', summaryTpl : '合計 : {0, hidden:true}', hidden:true}
		 
 		 ,{name:"url", index:"map_link", width:200, align:"center", classes:"no_class", hidden:true}
		];
	

		// その他の設定
		jqgrid_opt = {
			 table_name:'building_table'
			,fotter_name:'building_pager'
			,div_name:'div_dummy_02'
			,caption:'管理物件集計' 
			,event_type:30
			,shrinkFit:true
			,multiselect:true
		};
		
		// jqgrid作成
		$(function(){
			
			var table_div = $('#' + jqgrid_opt.table_name);
			var div_box = $('#' + jqgrid_opt.div_name);
	
			table_div.jqGrid({
			  	data : gon.data_list,  //表示したいデータ
			  	datatype : "local",            //データの種別 他にjsonやxmlも選べます。しかし、私はlocalが推奨です。
			  	colNames : col_names,           //列の表示名
			  	colModel : col_model,   //列ごとの設定
			  	caption : jqgrid_opt.caption,    //ヘッダーのキャプション
			  	rowNum : 100,                   //一ページに表示する行数
				height : 800,                  //高さ
			  	shrinkToFit : true,　　        //画面サイズに依存せず固定の大きさを表示する設定
				pager : 'building_pager',
				viewrecords: true,
				grouping:true,                    //グルーピングon
				groupingView : {                  //グルーピング設定
					groupField : ['group_name'],     //グループする列指
			　　　　        groupSummary : [true]
				},
			
			    onSelectRow: function(id) {
					// シングルクリックイベント
				    data = jQuery('#building_table').getRowData(id);
					//alert(location.href);
					//alert(location.host);
			 		screen_block();
					
					location.href = location.protocol + '//' + location.host + '/property/' + data.url
					
				}
				
			});
			
			
// 			table_div.navGrid('#building_pager', {
// 			        edit:false, add:false, del:false, search:false
// 			      }).navButtonAdd('#building_pager', {
// 			        caption:"棟数内訳",  position:"last",  onClickButton: function(){
//
//						if( disp_biru_type == false ){
//							
//	   						 table_div.jqGrid('showCol',"biru_type_mn_cnt");
//	   						 table_div.jqGrid('showCol',"biru_type_bm_cnt");
//	   						 table_div.jqGrid('showCol',"biru_type_ap_cnt");
//	   						 table_div.jqGrid('showCol',"biru_type_kdt_cnt");
//	   						 table_div.jqGrid('showCol',"biru_type_etc_cnt");
//		 					 table_div.trigger("reloadGrid");
//							 
//							 disp_biru_type = true;
//						}else{
//							
//	   						 table_div.jqGrid('hideCol',"biru_type_mn_cnt");
//	   						 table_div.jqGrid('hideCol',"biru_type_bm_cnt");
//	   						 table_div.jqGrid('hideCol',"biru_type_ap_cnt");
//	   						 table_div.jqGrid('hideCol',"biru_type_kdt_cnt");
//	   						 table_div.jqGrid('hideCol',"biru_type_etc_cnt");
//		 					 table_div.trigger("reloadGrid");
//							 
//							disp_biru_type = false;
//						}
//						
// 					 }
// 			 });
//
//
 			table_div.navGrid('#building_pager', {
 			        edit:false, add:false, del:false, search:false
 			      }).navButtonAdd('#building_pager', {
 			        caption:"建物種別ごとの間取り",  position:"last",  onClickButton: function(){

						if( disp_biru_building_kind == false ){

	   						 table_div.jqGrid('showCol',"room_type_17010_1");
	   						 table_div.jqGrid('showCol',"room_type_17010_2");
	   						 table_div.jqGrid('showCol',"room_type_17010_3");
	   						 table_div.jqGrid('showCol',"room_type_17010_4");
	   						 table_div.jqGrid('showCol',"room_type_17010_9");

	   						 table_div.jqGrid('showCol',"room_type_17015_1");
	   						 table_div.jqGrid('showCol',"room_type_17015_2");
	   						 table_div.jqGrid('showCol',"room_type_17015_3");
	   						 table_div.jqGrid('showCol',"room_type_17015_4");
	   						 table_div.jqGrid('showCol',"room_type_17015_9");

	   						 table_div.jqGrid('showCol',"room_type_17020_1");
	   						 table_div.jqGrid('showCol',"room_type_17020_2");
	   						 table_div.jqGrid('showCol',"room_type_17020_3");
	   						 table_div.jqGrid('showCol',"room_type_17020_4");
	   						 table_div.jqGrid('showCol',"room_type_17020_9");

	   						 table_div.jqGrid('showCol',"room_type_17025_1");
	   						 table_div.jqGrid('showCol',"room_type_17025_2");
	   						 table_div.jqGrid('showCol',"room_type_17025_3");
	   						 table_div.jqGrid('showCol',"room_type_17025_4");
	   						 table_div.jqGrid('showCol',"room_type_17025_9");

	   						 table_div.jqGrid('showCol',"room_type_17030_1");
	   						 table_div.jqGrid('showCol',"room_type_17030_2");
	   						 table_div.jqGrid('showCol',"room_type_17030_3");
	   						 table_div.jqGrid('showCol',"room_type_17030_4");
	   						 table_div.jqGrid('showCol',"room_type_17030_9");

	   						 table_div.jqGrid('showCol',"room_type_17035_1");
	   						 table_div.jqGrid('showCol',"room_type_17035_2");
	   						 table_div.jqGrid('showCol',"room_type_17035_3");
	   						 table_div.jqGrid('showCol',"room_type_17035_4");
	   						 table_div.jqGrid('showCol',"room_type_17035_9");

	   						 table_div.jqGrid('showCol',"room_type_17099_1");
	   						 table_div.jqGrid('showCol',"room_type_17099_2");
	   						 table_div.jqGrid('showCol',"room_type_17099_3");
	   						 table_div.jqGrid('showCol',"room_type_17099_4");
	   						 table_div.jqGrid('showCol',"room_type_17099_9");
		 					 table_div.trigger("reloadGrid");

							 disp_biru_building_kind = true;
						}else{
	   						 table_div.jqGrid('hideCol',"room_type_17010_1");
	   						 table_div.jqGrid('hideCol',"room_type_17010_2");
	   						 table_div.jqGrid('hideCol',"room_type_17010_3");
	   						 table_div.jqGrid('hideCol',"room_type_17010_4");
	   						 table_div.jqGrid('hideCol',"room_type_17010_9");

	   						 table_div.jqGrid('hideCol',"room_type_17015_1");
	   						 table_div.jqGrid('hideCol',"room_type_17015_2");
	   						 table_div.jqGrid('hideCol',"room_type_17015_3");
	   						 table_div.jqGrid('hideCol',"room_type_17015_4");
	   						 table_div.jqGrid('hideCol',"room_type_17015_9");

	   						 table_div.jqGrid('hideCol',"room_type_17020_1");
	   						 table_div.jqGrid('hideCol',"room_type_17020_2");
	   						 table_div.jqGrid('hideCol',"room_type_17020_3");
	   						 table_div.jqGrid('hideCol',"room_type_17020_4");
	   						 table_div.jqGrid('hideCol',"room_type_17020_9");

	   						 table_div.jqGrid('hideCol',"room_type_17025_1");
	   						 table_div.jqGrid('hideCol',"room_type_17025_2");
	   						 table_div.jqGrid('hideCol',"room_type_17025_3");
	   						 table_div.jqGrid('hideCol',"room_type_17025_4");
	   						 table_div.jqGrid('hideCol',"room_type_17025_9");

	   						 table_div.jqGrid('hideCol',"room_type_17030_1");
	   						 table_div.jqGrid('hideCol',"room_type_17030_2");
	   						 table_div.jqGrid('hideCol',"room_type_17030_3");
	   						 table_div.jqGrid('hideCol',"room_type_17030_4");
	   						 table_div.jqGrid('hideCol',"room_type_17030_9");

	   						 table_div.jqGrid('hideCol',"room_type_17035_1");
	   						 table_div.jqGrid('hideCol',"room_type_17035_2");
	   						 table_div.jqGrid('hideCol',"room_type_17035_3");
	   						 table_div.jqGrid('hideCol',"room_type_17035_4");
	   						 table_div.jqGrid('hideCol',"room_type_17035_9");

	   						 table_div.jqGrid('hideCol',"room_type_17099_1");
	   						 table_div.jqGrid('hideCol',"room_type_17099_2");
	   						 table_div.jqGrid('hideCol',"room_type_17099_3");
	   						 table_div.jqGrid('hideCol',"room_type_17099_4");
	   						 table_div.jqGrid('hideCol',"room_type_17099_9");
						 
		 					 table_div.trigger("reloadGrid");

							disp_biru_building_kind = false;
						}
						
						
					    $(window).bind('resize', function () {
					        $('#building_table').setGridWidth($(window).width() - 200 )

					        $('#building_pager').setGridWidth($(window).width() - 200 )
					
					
					    }).trigger('resize');
 					 }
 			 });

			 			
 	        table_div.jqGrid('setGroupHeaders', {
 	          useColSpanStyle: true,
 	          groupHeaders:[
 	            {startColumnName: 'biru_type_mn_cnt', numberOfColumns: 5, titleText: '<em>棟数内訳</em>'},
 	            {startColumnName: 'room_type_17010_1', numberOfColumns: 5, titleText: '<em>戸数：マンション</em>'},
 	            {startColumnName: 'room_type_17015_1', numberOfColumns: 5, titleText: '<em>戸数：分譲マンション</em>'},
 	            {startColumnName: 'room_type_17020_1', numberOfColumns: 5, titleText: '<em>戸数：アパート</em>'},
 	            {startColumnName: 'room_type_17025_1', numberOfColumns: 5, titleText: '<em>戸数：一戸建貸家</em>'},
 	            {startColumnName: 'room_type_17030_1', numberOfColumns: 5, titleText: '<em>戸数：テラスハウス</em>'},
 	            {startColumnName: 'room_type_17035_1', numberOfColumns: 5, titleText: '<em>戸数：メゾネット</em>'},
 	            {startColumnName: 'room_type_17099_1', numberOfColumns: 5, titleText: '<em>戸数：その他</em>'},
// 	            {startColumnName: 'trust_mente_junkai_seisou_cnt', numberOfColumns: 5, titleText: '<em>建物メンテナンス</em>'},
				
 	          ]
 	        });
			
		    $(window).bind('resize', function () {
		        $('#building_table').setGridWidth($(window).width() - 200 )

		        $('#building_pager').setGridWidth($(window).width() - 200 )
					
					
		    }).trigger('resize');
	
			
			
		});

		
		
		
	}
</script>


<div style="padding:50px 80px 10px 80px;">
	
	
	最終更新日：<%= @data_update.update_datetime %>&nbsp;<br/>※営業所をクリックすると詳細画面に飛びます。管理方式B以上を表示しています。
	<div id="div_dummy_02" style="width:100%;height:90%;">
		<table id="building_table"></table>
		<div id = "building_pager"></div>
	</div>
</div>


