<div style="margin-left:20px;margin-right:20px;">

	<h1>test</h1>
	
	<% simple_form_for @building, :url =>{:controller => :trust_managements, :action => :building_update, :id=>@building.id }, :html => {:class => 'form-horizontal'} do |f| %>
	  <%= f.input :attack_code, label: '建物CD', :input_html => {:class => 'input-medium'} %>
	  <%= f.input :name, label: '建物名', hint: 'No special charactors' %>
	  <div class="form-actions">
		  <%= f.button :submit, :class => 'btn-primary' %>
	  </div>
    
	<% end %>

	<%#= grid(@trust_arr) do |g|

		g.column name: 'ID' do |obj| obj.id end
		g.column name: '建物CD' do |obj| link_to(obj.building_id, building_show_path(obj.building_show)) end
		g.column name: '建物名' do |obj| obj.building.name if obj.building end
		g.column name: '管理営業所' do |obj| obj.building.shop.name if obj.building && obj.building.shop end
	end
	%>	
</div>
