<script type="text/javascript">
	
	init_jqgrid_trust_manager();

	// 委託契約リストを作成
	function init_jqgrid_trust_manager(){
		// 列名の定義
		var col_names = ["biru_user_id", "担当者", "レポート", "アタックリスト","目標", "実績", "面談", "目標", "実績", "反響", "目標", "実績", "会話", "受託", "見込Ｓ","見込Ａ","見込Ｂ"];
	
		// 列属性の定義
		var col_model = [
		  {name:"biru_user_id", index:"biru_user_id", align:"left",classes:"no_class", hidden:true}
  		 ,{name:"biru_usr_name", index:"biru_usr_name", width:300, align:"left", classes:"no_class"}
 		 ,{name:"trust_report", index:"trust_report", width:200, align:"left", classes:"no_class", formatter: 'link', hidden:true}
 		 ,{name:"attack_list", index:"attack_list", width:200, align:"left", classes:"no_class", hidden:true}
 		 ,{name:"visit_plan", index:"visit_plan", align:"right", classes:"no_class"}
 		 ,{name:"visit_result", index:"visit_result", align:"right", classes:"no_class"}
 		 ,{name:"visit_value", index:"visit_value", align:"right", classes:"no_class"}

 		 ,{name:"dm_plan", index:"dm_plan", align:"right", classes:"no_class"}
 		 ,{name:"dm_result", index:"dm_result", align:"right", classes:"no_class"}
 		 ,{name:"dm_value", index:"dm_value", align:"right", classes:"no_class"}

 		 ,{name:"tel_plan", index:"tel_plan", align:"right", classes:"no_class"}
 		 ,{name:"tel_result", index:"tel_result", align:"right", classes:"no_class"}
 		 ,{name:"tel_value", index:"tel_value", align:"right", classes:"no_class"}
		 
 		 ,{name:"trust_num", index:"trust_num", align:"right", classes:"no_class"}
 		 ,{name:"rank_s", index:"rank_s", align:"right", classes:"no_class"}
 		 ,{name:"rank_a", index:"rank_a", align:"right", classes:"no_class"}
 		 ,{name:"rank_b", index:"rank_b", align:"right", classes:"no_class"}
		];
	

		// その他の設定
		jqgrid_opt = {
			 table_name:'building_table'
			,fotter_name:'building_pager'
			,div_name:'div_dummy_02'
			,caption:'<%= @month.slice(0,4) + '年' + @month.slice(4,2) + '月度' %>　受託活動報告'
			,event_type:30
			,shrinkFit:true
			,multiselect:true
		};
		
		// jqgrid作成
		$(function(){
			
			var table_div = $('#' + jqgrid_opt.table_name);
			var div_box = $('#' + jqgrid_opt.div_name);
	
			table_div.jqGrid({
			  	data : gon.data_list,  //表示したいデータ
			  	datatype : "local",            //データの種別 他にjsonやxmlも選べます。しかし、私はlocalが推奨です。
			  	colNames : col_names,           //列の表示名
			  	colModel : col_model,   //列ごとの設定
			  	caption : jqgrid_opt.caption,    //ヘッダーのキャプション
				
				loadComplete : function () {  // 幅の%調整。読み込みが完了したあと指定のdivの幅と高さを%でとってきて設定
					table_div.jqGrid('setGridWidth', div_box.width(), jqgrid_opt.shrinkFit);
				    table_div.jqGrid('setGridHeight', div_box.height(), jqgrid_opt.shrinkFit);
				},
		        onSelectRow: function(id) {
		           // idにはリストの選択した行番号が入ってくる
		   
				   // if(jqgrid_opt.event_type == 1 ){
				   // 					   link_shop_click(table_div.getRowData(id).id);
				   // }else if(jqgrid_opt.event_type == 2){
				   // 					   link_building_click(table_div.getRowData(id).id);
				   // }else if(jqgrid_opt.event_type == 30){
				   // 					   link_owner_click(table_div.getRowData(id).owner_id);
				   // }
		        },
			    ondblClickRow: function(id) {
					// ダブルクリックイベント
				    data = jQuery('#building_table').getRowData(id);
			 		screen_block();
					
					location.href = location.protocol + '//' + location.host + '/trust_managements/' + data.attack_list
					
				}
				
			  	//shrinkToFit : false,　　        //画面サイズに依存せず固定の大きさを表示する設定
			});
  
			//   //検索追加
			// table_div.jqGrid('navGrid',('#' + fotter_name),{
			// 	add:false,   //おまじない
			// 	edit:false,  //おまじない
			// 	del:false,   //おまじない
			// 	search:{     //検索オプション
			// 	odata : ['equal', 'not equal', 'less', 'less or equal',
			// 	       'greater','greater or equal', 'begins with',
			// 	       'does not begin with','is in','is not in','ends with',
			// 	       'does not end with','contains','does not contain']
			// 	}   //検索の一致条件を入れられる
			// });
  
			//filterバー追加
			
			

	        table_div.jqGrid('setGroupHeaders', {
	          useColSpanStyle: true,
	          groupHeaders:[
	            {startColumnName: 'visit_plan', numberOfColumns: 3, titleText: '訪問'},
	            {startColumnName: 'dm_plan', numberOfColumns: 3, titleText: 'ダイレクトメール'},
	            {startColumnName: 'tel_plan', numberOfColumns: 3, titleText: '電話アプローチ'},
	            {startColumnName: 'trust_num', numberOfColumns: 4, titleText: '受託状況'},
	          ]
	        });
			
		});
	}
	
	
	
	function dropsort() {
		document.yyyymm.submit();
	}
		
</script>

<div style="padding:50px 80px 10px 80px;">
	<div id="div_dummy_02" style="width:100%;height:90%;">
		
		<div style="padding-bottom:10px;">
			<%= form_tag({:action => :index}, {:name => 'yyyymm'}) do %>
				<%= select_tag(:month, options_for_select(@calender, @month),  :onchange=>"javascript:dropsort();") %>
				<span style="padding-left:100px;">※ダブルクリックで詳細画面へ遷移します。</span>
			<% end %>
		</div>

		<table id="building_table"></table>
		<div id = "building_pager"></div>
	</div>
</div>
