<%= content_for :sidebar do %>
        <div class="span3" >
          <div class="well sidebar-nav" style="margin-top:30px;margin-left:20px;height:800px;">
			  <div style="padding-bottom:5px;">変更履歴</div>
			  <div>
			  	<div>【2014/10/19】</div>
				<div style="padding-left:10px;">地図トップを改訂</div>
			  </div>
          </div><!--/.well -->		  
        </div><!--/span-->
<% end %>



<div class="well" style="margin-top:30px;margin-left:30px;height:800px;">

	<h1 style="text-decoration:underline">地図トップメニュー</h1>
	
	<h3 style="margin-top:50px;"><%= link_to "・管理物件確認", managements_path %></h3>
	<p style="padding-left:25px;">管理物件を地図に展開します。</p>

	<h3 style="margin-top:30px;"><%= link_to "・レンターズ登録状況確認", recruitments_path %></h3>
	<p style="padding-left:25px;">レンターズに掲載中の物件を地図に表示します。</p>
	
	<h3 style="margin-top:30px;"><%= link_to "・受託活動報告", trust_managements_path %></h3>
	<p style="padding-left:25px;">訪問履歴・ＤＭ発送履歴・TELアプローチ履歴の登録・集計を行います。</p>
	
</div>