<%= render :partial=>'sidebar' %>

<div style="text-align: center;margin: 0 auto;">
  <div style="width:60%;text-align: right;margin: 0 auto;"><%= high_chart("chart-1", @plan_result) %></div>
  <!-- <div style="width:70%;text-align: right;margin: 0 auto;"><%#= high_chart("chart-2", @year_on_year) %></div>-->
  <% if @group_result %>
    <div style="width:60%;text-align: right;margin: 0 auto;"><%= high_chart("chart-3", @group_result) %></div>
  <% end %>
</div>


