<%= render :partial=>'sidebar' %>

<div class="hero-unit" style="width:60%;margin-left:200px;">
    <h1>中央ビル管理Webシステム</h1>
    <p>Webで提供できる各種システムの統合トップページです。<br/>
    機能別にはヘッダの項目をクリックしてください。</p>
</div>