<%= render :partial=>'sidebar', :locals=>{:val => 1} %>

<div class="hero-unit" style="width:55%;margin-left:280px;margin-top:55px;">
    <h1>ビル管理&nbsp;業績分析</h1>
    <p>年度(月度)・部署・項目を選択してグラフ表示ボタンを押下してください。</p>
</div>